a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*,
:after,
:before {
    box-sizing: border-box
}

[role=button],
button {
    background: none;
    border: none;
    padding: unset;
    margin: unset
}

[role=button],
a,
button {
    color: inherit;
    cursor: pointer;
    outline: none
}

a {
    text-decoration: none
}

:root {
    --black: #111111;
    --black-transparent: rgba(17, 17, 17, 0);
    --white: white;
    --white-transparent: rgba(255, 255, 255, 0);
    --accent: #e4ff4e;
    --accent-transparent: rgba(228, 255, 78, 0);
    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86)
}

.copyright {
    align-items: center;
    display: flex;
    justify-content: center
}

.hide {
    visibility: hidden;
    opacity: 0
}

.hide,
.show {
    transition: opacity .75s var(--ease-out-cubic)
}

.show {
    visibility: visible;
    opacity: 1
}

.word {
    overflow-y: clip
}

.whitespace {
    display: inline !important
}

.dnone {
    display: none !important
}

.link:hover {
    color: var(--theme-contrast)
}

.theme-light {
    --theme-primary: #111111;
    --theme-primary-transparent: rgba(17, 17, 17, 0);
    --theme-secondary: white;
    --theme-secondary-transparent: rgba(255, 255, 255, 0);
    --theme-accent: #e4ff4e;
    --theme-accent-transparent: rgba(228, 255, 78, 0)
}

.theme-dark {
    --theme-primary: white;
    --theme-primary-transparent: rgba(255, 255, 255, 0);
    --theme-secondary: #111111;
    --theme-secondary-transparent: rgba(17, 17, 17, 0);
    --theme-accent: #e4ff4e;
    --theme-accent-transparent: rgba(228, 255, 78, 0)
}

html:not(.dev) {
    scrollbar-width: none !important
}

html:not(.dev) body {
    -ms-overflow-style: none
}

html:not(.dev) body::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important
}

html:not(.dev) .lenis {
    scrollbar-width: none !important;
    -ms-overflow-style: none
}

html:not(.dev) .lenis::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important
}

html.lenis {
    height: auto
}

.lenis.lenis-smooth {
    scroll-behavior: auto
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}

.lenis.lenis-scrolling iframe {
    pointer-events: none
}

:root {
    --nh: max(3.7rem, 37px);
    --gutter: max(15px, 3rem);
    --hd-height: max(6.2rem, 42px);
    --padding-top: max(25vh, 160px);
    --layout-columns-count: 12;
    --layout-columns-gap: max(2.25rem, 12px);
    --box-width: 30rem;
    --box-height: 30rem;
    --box-min-width: 200px;
    --box-min-height: 200px;
    interpolate-size: allow-keywords
}

@media(max-width:768px) {
    :root {
        --layout-columns-count: 6
    }
}

body,
html {
    width: 100%;
    min-height: 100%;
    overscroll-behavior: none;
    scroll-behavior: auto
}

body :focus-visible,
html :focus-visible {
    outline: 1px solid var(--theme-accent, #fff);
    outline-offset: 2px
}

html {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
    scrollbar-width: none
}

html::-webkit-scrollbar {
    display: none
}

html {
    font-size: min(12px, .6944444444vw);
    line-height: 1
}

body {
    color: var(--theme-secondary);
    background-color: var(--theme-primary)
}

::selection {
    background-color: var(--theme-accent);
    color: var(--theme-primary)
}

[data-speed] {
    will-change: transform
}

.page {
    position: relative;
    z-index: 7;
    overflow: hidden
}

.page-appear,
.page-enter {
    position: relative;
    z-index: 3
}

.page-exit {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    pointer-events: none
}

.copyright {
    padding-bottom: var(--gutter);
    padding-top: max(25vh, 150px)
}

@media(max-width:768px) {
    .copyright {
        padding-bottom: calc(var(--gutter) + var(--nh) + 30px)
    }
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important
}

.fluid-canvas {
    position: fixed;
    inset: 0;
    z-index: 2
}

.space {
    width: max(13rem, 30px);
    display: inline-block
}

.grid-figure {
    will-change: transform
}

.noscript-warning {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #1a1a1a;
    color: #fff;
    font-family: Arial;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center
}

.audio-toggle {
    position: fixed;
    right: var(--gutter);
    bottom: var(--gutter);
    z-index: 12;
    border: 1px solid hsla(0, 0%, 100%, .1215686275);
    height: var(--nh);
    width: var(--nh);
    min-width: var(--nh);
    padding: max(.75rem, 6px)
}

.audio-toggle svg {
    width: 100%;
    height: auto
}

.gs-dev-tools {
    z-index: 9999
}

.copyright {
    font-size: max(12px, 1.2rem);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.02em
}

.Image_image-loading__5DT6A {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center
}

.Image_hide___lIHR {
    visibility: hidden;
    opacity: 0
}

.Image_hide___lIHR,
.Image_show__2a2GN {
    transition: opacity .75s var(--ease-out-cubic)
}

.Image_show__2a2GN {
    visibility: visible;
    opacity: 1
}

.Image_word__zAhfY {
    overflow-y: clip
}

.Image_whitespace__FZwTO {
    display: inline !important
}

.Image_dnone__208lR {
    display: none !important
}

.Image_link__brdWV:hover {
    color: var(--theme-contrast)
}

.Image_image__MRsoN {
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: var(--width)/var(--height);
    object-fit: cover;
    position: relative
}

@supports not (aspect-ratio:calc(var(--width) / var(--height))) {
    .Image_image__MRsoN:before {
        content: "";
        float: left;
        padding-top: calc(var(--height)/var(--width)*100%)
    }
    .Image_image__MRsoN:after {
        content: "";
        display: block;
        clear: both
    }
}

.Image_image__MRsoN img {
    object-fit: cover
}

.Image_image-loading__5DT6A {
    width: 100%;
    background: var(--white);
    z-index: 1
}

.Image_image-loading__5DT6A span {
    overflow: hidden;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative
}

@supports not (aspect-ratio:calc(1 / 1)) {
    .Image_image-loading__5DT6A span:before {
        content: "";
        float: left;
        padding-top: calc(1/1*100%)
    }
    .Image_image-loading__5DT6A span:after {
        content: "";
        display: block;
        clear: both
    }
}

.Image_image-loading__5DT6A span {
    background: var(--peach);
    color: var(--peach);
    width: max(1.4rem, 10px);
    border-radius: 50%;
    box-shadow: 22.4px 0, -22.4px 0;
    animation: Image_dots__2nrHk 1s linear infinite alternate
}

@keyframes Image_dots__2nrHk {
    0% {
        box-shadow: 22.4px 0, -22.4px 0
    }
    33% {
        box-shadow: 22.4px 0, -22.4px 0 rgba(249, 143, 114, .13);
        background: rgba(249, 143, 114, .13)
    }
    66% {
        box-shadow: 22.4px 0 rgba(249, 143, 114, .13), -22.4px 0;
        background: rgba(249, 143, 114, .13)
    }
}

.Image_img__GXm1C {
    overflow: hidden;
    aspect-ratio: var(--width)/var(--height);
    object-fit: cover;
    position: relative
}

@supports not (aspect-ratio:calc(var(--width) / var(--height))) {
    .Image_img__GXm1C:before {
        content: "";
        float: left;
        padding-top: calc(var(--height)/var(--width)*100%)
    }
    .Image_img__GXm1C:after {
        content: "";
        display: block;
        clear: both
    }
}

.Image_img__GXm1C {
    height: auto
}

.scrollbar_hide__j8xWK {
    transition: opacity .75s var(--ease-out-cubic);
    visibility: hidden;
    opacity: 0
}

.scrollbar_show__Onxkj {
    transition: opacity .75s var(--ease-out-cubic);
    visibility: visible;
    opacity: 1
}

.scrollbar_word__GmQQg {
    overflow-y: clip
}

.scrollbar_whitespace__tHK_Y {
    display: inline !important
}

.scrollbar_dnone__offGs {
    display: none !important
}

.scrollbar_link__nvz2O:hover {
    color: var(--theme-contrast)
}

.scrollbar_scrollbar__mij3J {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 4;
    z-index: 13;
    padding: max(5px, 1rem) 0
}

.scrollbar_scrollbar__mij3J .scrollbar_inner__07W3F {
    height: 100%;
    position: relative
}

.scrollbar_scrollbar__mij3J .scrollbar_thumb__wKcF_ {
    min-height: max(4.8rem, 24px);
    width: max(.5rem, 5px);
    background-color: var(--primary);
    position: absolute;
    right: max(.2rem, 2px);
    border-radius: max(.4rem, 4px);
    border: max(.5px, .1rem) solid var(--primary);
    cursor: -webkit-grab;
    cursor: grab
}

@media(max-width:600px) {
    .scrollbar_scrollbar__mij3J {
        display: none
    }
}

.scrollable-box_hide__xPV5B {
    transition: opacity .75s var(--ease-out-cubic);
    visibility: hidden;
    opacity: 0
}

.scrollable-box_show__Ii5_r {
    transition: opacity .75s var(--ease-out-cubic);
    visibility: visible;
    opacity: 1
}

.scrollable-box_word__bkpJP {
    overflow-y: clip
}

.scrollable-box_whitespace__xep3P {
    display: inline !important
}

.scrollable-box_dnone__9yITA {
    display: none !important
}

.scrollable-box_link__vFa78:hover {
    color: var(--theme-contrast)
}

.scrollable-box_hi__a_UhN {
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none !important;
    -ms-overflow-style: none
}

.scrollable-box_hi__a_UhN::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important
}

.header_header-left__veLJX .header_back__Uh_eP,
.header_header-nav-e-label__Hs98U,
.header_header-nav-e__o30ZB,
.header_header-nav-link__wcp3a,
.header_header-socials__NmbDv a {
    align-items: center;
    display: flex;
    justify-content: center
}

.header_header-left__veLJX {
    display: flex;
    align-items: center
}

.header_hide__Cdcyi {
    visibility: hidden;
    opacity: 0
}

.header_hide__Cdcyi,
.header_show__UEF0d {
    transition: opacity .75s var(--ease-out-cubic)
}

.header_show__UEF0d {
    visibility: visible;
    opacity: 1
}

.header_word__uXec5 {
    overflow-y: clip
}

.header_whitespace__pWAzN {
    display: inline !important
}

.header_dnone__p22Wc {
    display: none !important
}

.header_link__o_JC9:hover {
    color: var(--theme-contrast)
}

.header_header-left__veLJX .header_back__Uh_eP,
.header_header-nav__ohl_r a {
    font-size: max(12px, 1.2rem);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.02em
}

.header_header__GKbAu {
    padding-inline: var(--gutter);
    padding-top: max(3rem, 20px);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    pointer-events: none
}

@media(max-width:768px) {
    .header_header__GKbAu {
        display: flex;
        justify-content: space-between
    }
}

.header_header__GKbAu a,
.header_header__GKbAu button {
    pointer-events: auto
}

.header_header-scrolled__QM3U_:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    height: max(24rem, 150px);
    opacity: .9;
    background: linear-gradient(180deg, #111111, rgba(17, 17, 17, .8) 53.18%, rgba(17, 17, 17, 0))
}

.header_header-nav__ohl_r {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: max(1rem, 6px);
    gap: max(1rem, 6px);
    grid-column: 10/-1
}

@media(max-width:1024px) {
    .header_header-nav__ohl_r {
        grid-column: 9/-1
    }
}

.header_header-nav-e__o30ZB {
    background: var(--theme-accent);
    height: var(--nh);
    color: var(--theme-primary);
    border: 1px solid hsla(0, 0%, 100%, .1215686275);
    min-width: 62px;
    gap: max(.5rem, 4px);
    transition: background .3s ease, padding-right .3s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-nav-e__o30ZB {
        transition: none
    }
}

.header_header-nav-e__o30ZB:hover {
    background: var(--theme-secondary);
    padding-right: 0
}

.header_header-nav-e__o30ZB:hover .header_header-nav-e-svg__vrP6n {
    transform: scale(1)
}

.header_header-nav-e__o30ZB:hover .header_header-nav-e-label__Hs98U {
    transform: translateX(0)
}

.header_header-nav-e__o30ZB:hover .header_header-nav-e-label__Hs98U svg {
    transform: scale(0)
}

@media(prefers-reduced-motion:reduce) {
    .header_header-nav-e__o30ZB:hover {
        padding-right: max(1.25rem, 10px)
    }
    .header_header-nav-e__o30ZB:hover .header_header-nav-e-svg__vrP6n {
        transform: scale(0)
    }
    .header_header-nav-e__o30ZB:hover .header_header-nav-e-label__Hs98U {
        transform: translateX(calc(0px - max(1rem, 10px)))
    }
    .header_header-nav-e__o30ZB:hover .header_header-nav-e-label__Hs98U svg {
        transform: scale(1)
    }
}

.header_header-nav-e-svg__vrP6n {
    width: max(1rem, 10px);
    min-width: max(1rem, 10px);
    height: auto;
    transform: scale(0);
    transition: transform .3s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-nav-e-svg__vrP6n {
        transition: none
    }
}

.header_header-nav-e-label__Hs98U {
    gap: max(1rem, 6px);
    transform: translateX(calc(0px - max(1rem, 10px)));
    transition: transform .3s ease
}

.header_header-nav-e-label__Hs98U svg {
    transition: transform .3s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-nav-e-label__Hs98U,
    .header_header-nav-e-label__Hs98U svg {
        transition: none
    }
}

.header_header-nav-e-ar__LXduv {
    width: max(.7rem, 7px);
    height: auto
}

.header_header-nav-link__wcp3a {
    gap: max(.5rem, 4px);
    border-radius: 2px;
    border: 1px solid hsla(0, 0%, 100%, .1215686275);
    transition: color .3s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-nav-link__wcp3a {
        transition: none
    }
}

.header_header-nav-link__wcp3a:hover {
    color: var(--theme-accent)
}

.header_header-nav-link__wcp3a:hover .header_header-nav-link-svg__AoJfZ {
    transform: scale(1)
}

.header_header-nav-link__wcp3a:hover .header_header-nav-link-label__k0OWZ {
    transform: translateX(0)
}

@media(prefers-reduced-motion:reduce) {
    .header_header-nav-link__wcp3a:hover .header_header-nav-link-svg__AoJfZ {
        transform: scale(0)
    }
    .header_header-nav-link__wcp3a:hover .header_header-nav-link-label__k0OWZ {
        transform: translateX(calc(0px - max(.5rem, 4px) - max(1rem, 10px)))
    }
}

.header_header-nav-link-svg__AoJfZ {
    width: max(1rem, 10px);
    min-width: max(1rem, 10px);
    height: auto;
    transform: scale(0);
    transition: transform .3s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-nav-link-svg__AoJfZ {
        transition: none
    }
}

.header_header-nav-link-label__k0OWZ {
    transform: translateX(calc(0px - max(.5rem, 4px) - max(1rem, 10px)));
    transition: transform .3s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-nav-link-label__k0OWZ {
        transition: none
    }
}

.header_header-nav__ohl_r a {
    line-height: 1;
    white-space: nowrap;
    padding-inline: max(1.25rem, 10px);
    height: var(--nh)
}

.header_header-socials__NmbDv {
    display: flex;
    gap: max(1rem, 6px);
    position: fixed;
    left: var(--gutter);
    bottom: var(--gutter)
}

.header_header-socials__NmbDv a {
    width: auto;
    height: var(--nh);
    overflow: hidden;
    aspect-ratio: 1.2105263158;
    object-fit: cover;
    position: relative
}

@supports not (aspect-ratio:calc(46 / 38)) {
    .header_header-socials__NmbDv a:before {
        content: "";
        float: left;
        padding-top: calc(38/46*100%)
    }
    .header_header-socials__NmbDv a:after {
        content: "";
        display: block;
        clear: both
    }
}

.header_header-socials__NmbDv a {
    border-radius: 2px;
    border: 1px solid hsla(0, 0%, 100%, .1215686275);
    padding: max(1.2rem, 10px);
    transition: background-color .5s ease, color .5s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-socials__NmbDv a {
        transition: none
    }
}

.header_header-socials__NmbDv a:hover {
    background-color: var(--theme-accent);
    color: var(--theme-primary)
}

.header_header-socials__NmbDv a:hover svg {
    transform: scale(1.25)
}

@media(prefers-reduced-motion:reduce) {
    .header_header-socials__NmbDv a:hover svg {
        transform: scale(1)
    }
}

.header_header-socials__NmbDv a svg {
    width: max(1.4rem, 14px);
    height: auto;
    transition: transform .5s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-socials__NmbDv a svg {
        transition: none
    }
}

.header_header-left__veLJX {
    gap: max(1.5rem, 10px)
}

.header_header-left__veLJX .header_back__Uh_eP {
    gap: max(1rem, 6px);
    border-radius: 2px;
    border: 1px solid hsla(0, 0%, 100%, .1215686275);
    transition: color .3s ease;
    white-space: nowrap;
    padding-inline: max(1rem, 8px);
    height: var(--nh);
    pointer-events: none;
    opacity: 0;
    transform: scale(.5);
    transition: all .3s ease .3s
}

.header_header-left__veLJX .header_back__Uh_eP.header_back--show__lDqwA {
    opacity: 1;
    transform: scale(1);
    pointer-events: all
}

.header_header-left__veLJX .header_back__Uh_eP:hover {
    color: var(--theme-accent)
}

.header_header-left__veLJX .header_back__Uh_eP:hover .header_back-svg__Q6qLd {
    transform: scale(0)
}

.header_header-left__veLJX .header_back__Uh_eP:hover .header_back-label__9G7Mk {
    transform: translateX(calc(0px - max(1rem, 10px)))
}

@media(prefers-reduced-motion:reduce) {
    .header_header-left__veLJX .header_back__Uh_eP:hover .header_back-svg__Q6qLd {
        transform: scale(1)
    }
    .header_header-left__veLJX .header_back__Uh_eP:hover .header_back-label__9G7Mk {
        transform: translateX(0)
    }
}

.header_header-left__veLJX .header_back-svg__Q6qLd {
    width: max(.8rem, 7px);
    min-width: max(.8rem, 7px);
    height: auto;
    transition: transform .3s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-left__veLJX .header_back-svg__Q6qLd {
        transition: none
    }
}

.header_header-left__veLJX .header_back-label__9G7Mk {
    transform: translateX(0);
    transition: transform .3s ease
}

@media(prefers-reduced-motion:reduce) {
    .header_header-left__veLJX .header_back-label__9G7Mk {
        transition: none
    }
}

.grid-debugger_grid__Ip_3y {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.grid-debugger_hide__U6xDP {
    transition: opacity .75s var(--ease-out-cubic);
    visibility: hidden;
    opacity: 0
}

.grid-debugger_show__E0qSQ {
    transition: opacity .75s var(--ease-out-cubic);
    visibility: visible;
    opacity: 1
}

.grid-debugger_word__Z9FLN {
    overflow-y: clip
}

.grid-debugger_whitespace__BL3U8 {
    display: inline !important
}

.grid-debugger_dnone__Hy1Wg {
    display: none !important
}

.grid-debugger_link__s_u4J:hover {
    color: var(--theme-contrast)
}

.grid-debugger_grid__Ip_3y {
    position: fixed;
    pointer-events: none;
    z-index: 10000
}

.grid-debugger_grid__Ip_3y button {
    pointer-events: all;
    font-size: max(20px, 4rem);
    left: var(--layout-columns-gap);
    position: absolute;
    bottom: 0
}

.grid-debugger_debugger__VGgZm {
    position: absolute;
    padding-inline: var(--gutter);
    inset: 0;
    background-size: 8px 8px
}

.grid-debugger_debugger__VGgZm span {
    background: pink;
    opacity: .25
}

.grid-debugger_debugger__VGgZm {
    display: grid;
    grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap)
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/872a910a76ad7c93-s.woff2) format("woff2");
    unicode-range: u+0460-052f, u+1c80-1c8a, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/c28d9658ceeceb34-s.woff2) format("woff2");
    unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/22aff8d1661d2efa-s.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/35415d5027fd8570-s.p.woff2) format("woff2");
    unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/cee54c58f389a0a9-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: Oswald Fallback;
    src: local("Arial");
    ascent-override: 146.51%;
    descent-override: 35.49%;
    line-gap-override: 0.00%;
    size-adjust: 81.43%
}

.__className_6600cc {
    font-family: Oswald, Oswald Fallback;
    font-weight: 700;
    font-style: normal
}

.__variable_6600cc {
    --font-oswald: "Oswald", "Oswald Fallback"
}

@font-face {
    font-family: GeistSans;
    src: url(/_next/static/media/028c0d39d2e8f589-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: GeistSans Fallback;
    src: local("Arial");
    ascent-override: 85.83%;
    descent-override: 20.53%;
    line-gap-override: 9.33%;
    size-adjust: 107.19%
}

.__className_fb8f2c {
    font-family: GeistSans, GeistSans Fallback
}

.__variable_fb8f2c {
    --font-geist-sans: "GeistSans", "GeistSans Fallback"
}

.preloader_preloader__5Qe9g {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.preloader_preloader-main-cta-w__PRffO,
.preloader_preloader-main-cta__Xvp6O,
.preloader_preloader-main__lXq7m,
.preloader_preloader__5Qe9g {
    align-items: center;
    display: flex;
    justify-content: center
}

.preloader_preloader-main-cta-l__Qez61 {
    display: flex;
    align-items: center
}

.preloader_hide__Ji4OX {
    transition: opacity .75s var(--ease-out-cubic);
    visibility: hidden;
    opacity: 0
}

.preloader_show__Y6lc_ {
    transition: opacity .75s var(--ease-out-cubic);
    visibility: visible;
    opacity: 1
}

.preloader_word__Z7_j4 {
    overflow-y: clip
}

.preloader_whitespace__KDugm {
    display: inline !important
}

.preloader_dnone__Cc17J {
    display: none !important
}

.preloader_link__L_30t:hover {
    color: var(--theme-contrast)
}

.preloader_preloader-main-cta-r__egsNf {
    overflow: hidden;
    position: relative;
    vertical-align: top
}

.preloader_preloader-main-cta-r__egsNf:after {
    background: currentColor;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    transition: transform .7s var(--ease-out-expo);
    width: 100%
}

@media(prefers-reduced-motion:reduce) {
    .preloader_preloader-main-cta-r__egsNf:after {
        transition: none
    }
}

.preloader_preloader-main-cta-r__egsNf:after {
    transform: scaleX(1);
    transform-origin: left center
}

.preloader_preloader-main-cta-r__egsNf:hover:after {
    transform: scaleX(0);
    transform-origin: right center
}

.preloader_preloader-main-cta-r__egsNf {
    display: inline-block
}

@media(prefers-reduced-motion:reduce) {
    .preloader_preloader-main-cta-r__egsNf:hover:after {
        transform: scaleX(1);
        transform-origin: left center
    }
}

.preloader_preloader-text__XUY6T {
    font-size: max(10px, 1rem);
    line-height: 1.2;
    letter-spacing: -.02em
}

.preloader_preloader-main-cta-l__Qez61,
.preloader_preloader-main-cta-r__egsNf {
    font-size: max(12px, 1.2rem);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.02em
}

.preloader_preloader-main__lXq7m h1 {
    font-size: max(28px, 6.4rem);
    letter-spacing: -.05em;
    font-weight: 600
}

.preloader_preloader__5Qe9g {
    z-index: 14;
    padding: var(--gutter);
    pointer-events: none
}

@media(prefers-reduced-motion:reduce) {
    .preloader_preloader__5Qe9g {
        pointer-events: auto
    }
}

.preloader_preloader-text__XUY6T {
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    max-width: 35ch;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: calc(var(--gutter) + max(12vh, 60px));
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0
}

@media(prefers-reduced-motion:reduce) {
    .preloader_preloader-text__XUY6T {
        pointer-events: none;
        opacity: 1
    }
}

.preloader_preloader-main__lXq7m {
    gap: max(3.5rem, 20px)
}

@media(max-width:768px) {
    .preloader_preloader-main__lXq7m {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

.preloader_preloader-main__lXq7m h1 {
    font-size: max(6.4rem, 52px);
    font-family: var(--font-oswald);
    text-transform: uppercase;
    white-space: nowrap
}

@media(max-width:768px) {
    .preloader_preloader-main__lXq7m h1:last-of-type {
        text-align: right
    }
}

.preloader_preloader-main-cta__Xvp6O {
    gap: max(3.5rem, 20px);
    height: max(5.4rem, 48px);
    border-radius: 2px;
    padding: max(1.6rem, 12px);
    white-space: nowrap;
    border: 1px solid hsla(0, 0%, 100%, .2509803922)
}

@media(max-width:768px) {
    .preloader_preloader-main-cta__Xvp6O {
        justify-content: space-between;
        width: 100%
    }
}

.preloader_preloader-main-cta-w__PRffO {
    overflow: hidden;
    width: max(3.5rem, 24px);
    opacity: 0
}

@media(prefers-reduced-motion:reduce) {
    .preloader_preloader-main-cta-w__PRffO {
        width: auto;
        opacity: 1
    }
}

@media(max-width:768px) {
    .preloader_preloader-main-cta-w__PRffO {
        grid-column: 1/-1;
        grid-row: 2/3;
        width: 100%
    }
}

.preloader_preloader-main-cta-l__Qez61 {
    font-weight: 600;
    line-height: 120%;
    border-radius: 1px;
    padding: max(.4rem, 4px) max(.8rem, 8px);
    gap: max(.5rem, 4px);
    background: var(--theme-accent);
    color: var(--theme-primary);
    gap: max(.4rem, 4px)
}

.preloader_preloader-main-cta-l__Qez61 .preloader_preloader-main-cta-svg__C8_TO {
    overflow: hidden;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative
}

@supports not (aspect-ratio:calc(10 / 10)) {
    .preloader_preloader-main-cta-l__Qez61 .preloader_preloader-main-cta-svg__C8_TO:before {
        content: "";
        float: left;
        padding-top: calc(10/10*100%)
    }
    .preloader_preloader-main-cta-l__Qez61 .preloader_preloader-main-cta-svg__C8_TO:after {
        content: "";
        display: block;
        clear: both
    }
}

.preloader_preloader-main-cta-l__Qez61 .preloader_preloader-main-cta-svg__C8_TO {
    width: max(1rem, 9px);
    height: auto;
    position: absolute;
    left: max(.8rem, 8px);
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform .3s ease;
    pointer-events: none
}

.preloader_preloader-main-cta-l__Qez61 span {
    transition: transform .3s ease;
    line-height: 1;
    display: inline-block
}

.preloader_preloader-main-cta-l__Qez61 .preloader_svg-arrow__qzJ1F {
    transition: transform .3s ease;
    width: max(.9rem, 8px)
}

.preloader_preloader-main-cta-l__Qez61 {
    position: relative
}

.preloader_preloader-main-cta-l__Qez61:hover {
    background-color: var(--theme-secondary)
}

.preloader_preloader-main-cta-l__Qez61:hover span {
    transform: translateX(calc(max(.4rem, 4px) + max(.9rem, 8px)))
}

.preloader_preloader-main-cta-l__Qez61:hover .preloader_svg-arrow__qzJ1F {
    transform: scale(0)
}

.preloader_preloader-main-cta-l__Qez61:hover .preloader_preloader-main-cta-svg__C8_TO {
    transform: translateY(-50%) scale(1)
}

.preloader_preloader-main-cta-r__egsNf {
    font-weight: 600;
    line-height: 120%
}

.preloader_preloader-main-cta-r__egsNf:after {
    height: 1px
}